@import url('https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text&display=swap');
body {
  font-family: "Karla", sans-serif;
}
main {
  display: flex;
}
nav {
  padding: 0.5rem;
  text-align: center;
}
ul li {
  display: inline-block;
  padding: 0.5rem;
  background: #f4ce14;
  margin: 0.5rem;
}
h1, h2, h3, h4, h5, h6, p, span {
  font-family: "Markazi Text", serif;
}
header {
  margin: auto;
  padding: 1rem;
  text-align: center;
}
form {
  display: grid;
  width: 20rem;
  text-align: center;
  margin: auto;
}